<div class="container-fluid text-center">
  <h1>Editing Admin Specy</h1>
</div>

<%= render 'form', specy: @specy %>

<%= link_to 'Mostrar', [:admin, @specy], class:'btn btn-primary btn-back' %> 
<%= link_to 'Voltar', admin_species_path, class:'btn btn-primary btn-back' %>
