<%= content_for :head do %>
  <%= stylesheet_link_tag 'guidedtour' %>
<% end %>

<% @tanks.each do |t| %>
  <li class="header">
    <%= link_to t.name_pt_br, guidedtour_path(t.id), class: 'botao bt-home bt-pesquisa' %>
  </li>
<% end %>