<div class="container">
  <h4 class="text-center">Pesquisa do tanque<%=  %></h4>
  <div class="card-deck">
      <div class="catd cartao">
        <%= image_tag(@tank.image.url(:tank) || 'sem-imagem.jpeg', class: 'card-img-top')%>

        <div class="card-body">
          <h5 class="card-title text-center"><%= @tank.name_pt_br %></h5><hr>
          <p class="card-text"><%= @tank.name_pt_br %></p>
        </div>
      </div>
  </div>
</div>
