<div class="container">
  <div class="row">
    <%= link_to "Tanques", admin_tanks_path, class: 'botao bt-home' %>
    <br>
    <%= link_to "Pesquisas", admin_researches_path, class: 'botao bt-home' %>
  </div>
</div>