<div class="container">
  <div class="row">
    <div class="btn-novo-tanque mt-5">
      <h1>Ãrea Administrativa</h1>      
    </div>
  </div>
  <div class="">
    <%= link_to "Tanques", admin_tanks_path, class: 'btn btn-primary btn-back' %>    
    <%= link_to "Pesquisas", admin_researches_path, class: 'btn btn-primary btn-back' %>
  </div>
</div>