<div class="container-fluid text-center">
  <h1>Editando Tanque</h1>
</div>

<%= render 'form', tank: @tank %>

<%= link_to 'Mostrar', [:admin, @tank], class:'btn btn-primary btn-back' %>
<%= link_to 'Voltar', admin_tanks_path, class:'btn btn-primary btn-back' %>