<div class="container-fluid">
  <h1>Criação de Tanque</h1>
</div>

<%= render 'form', tank: @tank %>

<div class="container-fluid">
  <div class="row">
    <%= link_to 'Voltar', admin_tanks_path, class:'btn btn-primary btn-back' %>  
  </div>  
</div>

