<div class="container-fluid">
  <h1>Nova Pesquisa</h1>
</div>

<%= render 'form', research: @research %>

<div class="container-fluid">
  <div class="row">
    <%= link_to 'Voltar', admin_researches_path, class:'btn btn-primary btn-back' %>
  </div>
</div>